.arow{
    height: 30px; width: 30px;
    float: left;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.329);
    background-color: white;
    }
    .fir{
        height: 40px; width: 70%;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .che{
    text-align: center;
     margin-top: 25px;
    }
    .ico{
    color: black;
     height: 20px;
      width: 20px;
       font-weight: bolder;
        margin-top: 5px;
    }
    .dot{
display: flex; 
align-items: center;
 font-size: large;
  color: gray;
    }
    .bri{
    color: black;
     height: 20px;
      width: 20px;
       margin-top: 5px;
    }
    .ord{
    font-size: x-large;
    margin-left: 20px;
    }
    .bacx{
    height: 20px; width: 20px;
    }
    .thx{
    text-align: center;
    }
    .con{
color: white;
font-size: large;
cursor: pointer;
    }
    .lock{
        height: 150px; width: 200px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-inline: auto;
       margin-top: 50px;
    }
    .text{
        height: 150px; width: 300px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-inline: auto;
    }
    .pro{
        height: 50px; width: 90%;
        margin-inline: auto;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.753);
        align-items: center;
        justify-content: center;
        display: flex;
      }