<ion-content>
  <ion-card>
    <ion-list class="a">
      <img src="../../assets/icon/pic1.png" alt="">
    </ion-list>
    <ion-list class="b">
      <ion-list class="ch">
        <p class="trx">Sportwear Set</p>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-list>
      <a class="trxz">$ 80.00
        
        <p class="ac">Size:L | Color: red</p>

      </a>
      <div class="counter">
        <p class="btn minus">-</p>
        <span class="value">1</span>
        <p class="btn plus">+</p>
      </div>
      
    </ion-list>
  </ion-card>
</ion-content>
