.pic1{
    height: 152px; width: 110px;
    border-radius: 10px;
    // background-color: rgba(128, 128, 128, 0.205);
   
  }
  .sax{
    height: 200px; width: 120px;
  }
  .t1{
    height: 60px; width: 117px;
    justify-content:center ;
    align-items: center;
  }
  .hx{
    height: 152px;
    
  }
  .pmn{
    font-size: 12px;
     font-weight: bold;
    }
    .phj{
        font-weight: bolder;
         color: black;
        }