.arow{
  height: 30px; width: 30px;
  float: left;
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: solid 1px rgba(128, 128, 128, 0.719);
  background-color: white;
  }
  .p1{
      text-align: center;
       margin-top: 25px;
       }
       .car{
          height: 180px; width: 300px;
          border-radius: 10px;
          background-size: cover;
          background-position: center;
        }
        .car1{
          height: 180px; width: 300px;
          border-radius: 10px;
          background-size: cover;
        }
        .swix{
        height: 20px; width: 20px;
        }
        .bacx{
        height: 20px; width: 20px;
        }
        .payx{
        text-align: center; 
        margin-top: 25px;  
        font-size: x-large;
        }
        .orx{
        margin-left: 20px;
        }
        .listx{
        height: 70px;
         width: 95%;
          margin-inline: auto;
        }
        .chox{
        color: black; 
        margin-left: 20px;
         font-weight: 550;
          float: left;
        }
        .addx{
        color: red; float:
         right;margin-right:
          20px;font-size: 14px;
        }
        .cw1{
          height: 40px; width: 50px;
          border: solid 1px rgba(128, 128, 128, 0.452);
          border-radius: 5px;
          float: left;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
        .mix{
        height: 80px; width: 90%;
        border: solid 1px black;
        margin-left: 20px;
        display: flex;
        }
        .cw2{
          height: 40px; width: 50px;
          border: solid 1px rgba(128, 128, 128, 0.452);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .cw3{
          height: 40px; width: 50px;
          border: solid 1px rgba(128, 128, 128, 0.452);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .cw4{
          height: 40px; width: 50px;
          border: solid 1px rgba(128, 128, 128, 0.452);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .cw5{
          height: 40px; width: 50px;
          border: solid 1px rgba(128, 128, 128, 0.452);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 255, 0.63);
        }