.icon{
    height: 40px; width: 40px;
    border: solid 1px  gray;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.as{
    height: 160px; width: 90%;
margin-left: 10px;
}
.button{
    height: 50px; width: 40%;
    border: solid 1px white;
    border-radius: 30px;
    background-color: black;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cr{
font-size: x-large;
 margin-left: 20px;
}
.ne{
color: gray; 
margin-left: 20px;
}
.it1{
background: transparent; 
--border-color: black;
 --color: black;
}
.it2{
    background: transparent; 
    --border-color: gray;
     --color: black;
}
.ba{
height: 20px; width: 20px;
}
.con{
color: white;
}