<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
<ion-list class="icon">
  <ion-icon name="chevron-back-outline" class="ba" (click)="goBack()"></ion-icon>
  <br>
</ion-list>
<br>
<p class="cr">Creat new password</p>
<p class="ne">Your new password must be different <br> from previously used password</p>
<br>
<br>
<div class="as">
<ion-item class="it1">
<ion-input placeholder="Password" type="password" ></ion-input>
</ion-item>
<br>
<ion-item class="it2">
<ion-input placeholder=" Confirm password" type="password"></ion-input>
</ion-item>
</div> 
<br>
<br>
<br>
<ion-list class="button" (click)="goto()"> <span class="con">Confirm</span></ion-list>

</ion-content>
