.i1{
height: 30px;
 width: 30px; 
 margin-top: 12px;
}
.p{
font-size: large;
 font-weight: bolder; 
 text-align: center;
 
}

.i2{
height: 25px;
width: 25px;
}
.c1{
    height: 40px; width: 40px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.226);
    display: flex;
    margin-left: 20px;
  justify-content: center;
  align-items: center;
  
}
.mean1{
  height:90px; width: 100%;
  float: right;
  margin-top: 70px;
}
.image-badge {
  position: absolute;
  top: 10px; /* Image ke top se kitna distance hona chahiye */
  right: 10px; /* Image ke right se kitna distance hona chahiye */
  font-size: 12px; /* Badge ki size */
  padding: 5px;
  border-radius: 50%;
}
.fi{
color: white;
 height: 30px;
  width: 20px;
}
.af{
  --color: black;
}
.c4{
    height: 40px; width: 40px;
    background-color: rgba(128, 128, 128, 0.226);
   border-radius: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}
.c2{
    height: 40px; width: 40px;
    background-color: rgba(128, 128, 128, 0.226);
    border-radius: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.c3{
    height: 40px; width: 40px;
    background-color: rgba(128, 128, 128, 0.226);
    border-radius: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.m1{
    height: 20px; width: 20px;
    color: gray;
}
.g1{
    height: 30px; width: 30px;
    color: gray;
}
.th1{
    height: 20px; width: 20px;
    color: gray;
}
.p2{
font-size: 10px; 
}
.p3{
font-size: 10px;
 color: gray;
  margin-left: 20px;
}
.p4{
    color: gray;
    font-size: 10px;
   margin-left: 18px;
}
.p52{
    color: gray;
    font-size: 10px;
    margin-left: 30px;
    margin-top: 10px;
}
.img1{
  height: 160px; width: 100%;
  margin-inline: auto;
  border-radius: 20px;
  max-height: 160px;
}
.swip{
  height: 170px; width: 90%;
  margin-inline: auto;
  
}
.overlay-text {
  position: absolute;
  top: 40%; /* Position the text vertically centered */
  left: 80%; /* Position the text horizontally centered */
  transform: translate(-50%, -50%); /* Center the text exactly */
  color: white; /* Text color */
  border-radius: 5px; /* Optional: Add some border-radius to the background */
}

.p7{
  font-size: x-large; color: white;
  font-weight: bolder; float: right;
  margin-right: 10px;
  z-index: 50;
}
.fe{
  height: 60px; width: 90%;
  margin-inline: auto;
}
.fe1{
  height: 220px; width: 98%;
  margin-inline: auto;
}
.p8{
  font-size: x-large; font-weight: bolder; float: left;
}
.p9{
  color: gray; float: right;
  margin-top: 20px;
  cursor: pointer;
}
.hx{
  height: 152px;
  
}
.pic1{
  height: 152px; width: 110px;
  border-radius: 10px;
  // background-color: rgba(128, 128, 128, 0.205);
 
}
.pic2{
  height: 170px; width: 120px;
  border-radius: 10px;

}
.pic3{
  height: 170px; width: 120px;
  border-radius: 10px;

  background-color: rgba(128, 128, 128, 0.205);
}
.pic4{
  height: 170px; width: 120px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.205);
}
.pic5{
  height: 170px; width: 120px;
  border-radius: 10px;
}
.sax{
  height: 200px; width: 120px;
}
.t1{
  height: 60px; width: 117px;
  justify-content:center ;
  align-items: center;
}
.second{
  height: 160px; width: 100%;
}
.he{
  margin-top: 20px;
  position: fixed;
}
@media (min-width: 900px) and (max-width: 1600px) {
  .he{
margin-top: 0px;
position: fixed;

}
}
.whit{
  height: 60px; width: 70px;
border-radius: 10px;  
float: left;
}
.t2{
  height: 55px; width: 120px;
  justify-content:center ;
  align-items: center;
  float: left;
  margin-left: 10px;
}
.whit1{
  height: 60px; width: 70px;
border-radius: 10px;  
float: left;
}
.baner{
  height: 170px; width: 90%;
  margin-inline: auto;
  border-radius: 10px;
}
.baner2{
  height: 200px; width: 90%;
  margin-inline: auto;
  border-radius: 10px;
}

.last{
  height: 260px; width: 90%;
  margin-inline: auto;
}
@media (min-width: 900px) and (max-width: 1600px) {
  .last{
    height: 230px;
    width: 90%;
    

}
}
swiper-container::part(bullet-active){
  background-color: white;
}
.baner3{
  height: 220px; width: 48%;
  float: left;
  border-radius: 10px;
}
.baner4{
  height: 220px; width: 48%;
  float: left;
  margin-left: 4%;
  border-radius: 10px;
}
.tolx{
--background: white;
}
.bg{
height: 20px; 
width: 20px;
 color: gray;
}
.per{
height: 20px; width: 20px; 
color: gray; display: flex;
 justify-content: center; 
 align-items: center;
}
.homei{
height: 20px; 
width: 20px; 
color: black;
}
.bottom{
  width: 100%;
  height: 60px;
  position: fixed;
 bottom: 0px;
 --background: white;
 color: white;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
  
  
}
.aa{
  contain: none;
}
.a{
  --border-color:white;
  --background: white;
  
}
.item-name{
  height: 30px; 
  width: 100%; 
  margin-top: 10px;
   display: flex; 
  justify-content: space-between;
}
.dc{
  height: 80px; width: 70px;
  align-items: center;
  float: right;
}
ion-menu::part(backdrop) {
  background-color: gray;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px gray;
}
.def{
width: 75%; margin-inline: auto;
}
.lab{
display: flex;
 align-items: center;
}
.smo{
height: 20px; width: 20px;
}
.vg{
height: 50px;
 width: 100%;
  margin-inline: auto; 
}
.swbx{
font-size: 12px;
 font-weight: bold;
  color: black;
}
.az{
font-weight: bolder; color: black;
}
.bou{
color: black;
}
.ab{
  color: black;
}
.aczx{
width: 200px;
}
.phj{
font-weight: bolder;
 color: black;
}
.pmn{
font-size: 12px;
 font-weight: bold;
}
.ivz{
 height: 160px; width: 100%;
  margin-inline: auto;
  border-radius: 20px;
  max-height: 160px;
}
.gem{
text-align: center;
 margin-right: 30px;
  justify-content: center;
}
.it{
  margin-inline: auto;
  margin-top: 50px;
}
.co{
  position: fixed;
}

.st{
height: 50px;
 width: 50px;
}

.p1{
  color: black;
}
.p2{
  font-weight: bolder;
}
.p41{
  font-weight: bolder;
  color: gray;
}
.i1{
  height: 20px; width: 20px;
  margin-left: 20px;
}
.p5a{
  color: gray;
  margin-left: 37px;
  font-weight: 650;
}
.last{
  height: 40px; width: 75%;
  border-radius: 20px;
  margin-inline: auto;
  background-color: rgba(128, 128, 128, 0.342);
  
}
.last1{
  height: 300px; width: 100%;
  margin-inline: auto;
}
.light{
  height: 30px; width: 40%;
  background-color: white;
  border-radius: 20px;
  margin-top: 6px;
  margin-left: 4px;
  align-items: center;
  display: flex;
float: left;
}
.light1{
  height: 30px; width: 40%;
  background: transparent;
  border-radius: 20px;
  margin-top: 6px;
  margin-right: 4px;
  align-items: center;
  display: flex;
float: right;

}
body[color-theme='dark'] {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
}

body[color-theme='light'] {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}


