<ion-content [fullscreen]="true">
  <ion-list class="r">
    <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-list class="arow" (click)="goBack()">
              <ion-icon name="chevron-back-outline" class="c1"></ion-icon>
          </ion-list>
          </ion-col>
          <ion-col size="8">
            <p class="p1">Rate product</p>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
    </ion-grid>
    <br>
  <ion-list class="fist">
    <ion-icon name="gift" class="i1">
    </ion-icon>
      
      <p class="p3"> Submit your review to get 5 points </p>
      <ion-icon name="chevron-forward-outline" class="i2"></ion-icon>
  </ion-list>
  <br>
  <ion-list class="star">
    <ion-icon name="star" class="i4"></ion-icon>
    &nbsp;
    &nbsp;
    <ion-icon name="star" class="i4"></ion-icon>
    &nbsp;
    &nbsp;
    <ion-icon name="star" class="i4"></ion-icon>
    &nbsp;
    &nbsp;
    <ion-icon name="star" class="i4"></ion-icon>
    &nbsp;
    &nbsp;
    <ion-icon name="star" class="i5"></ion-icon>
  </ion-list>
  <br>  
  <ion-list class="input-container">
    <input type="text" placeholder=" You like prduct type here..." />
    <p class="fifx">50 character</p>
  </ion-list>
  <ion-list class="cam">
    <ion-list class="pic1">
      <img src="../../assets/icon/picc1.png" alt="">
    </ion-list>
    &nbsp;&nbsp;
    <ion-list class="pic2">
      <img src="../../assets/icon/picc2.png" alt="">
    </ion-list>
  </ion-list>
  <br>
  <ion-list class="sub" (click)="goto()">
    <p class="sub1">Submit Review</p>
  </ion-list>
  </ion-list>
</ion-content>
